body{
    background-color: #380f4b;
    color: #eee1e1;
    font-family: "proxima-nova","helvetica","arial","sans";
    font-size: 15px;
    font-weight: 300;
    height: 100%;
    margin: 0;
    padding: 0;
}



@import url('https://fonts.googleapis.com/css?family=Cinzel');
nav {
  background-color: #900055;
  background-image: linear-gradient(225deg, #900055 50%, #593271 100%);
    min-height: 150px;
}

  nav img {
    position: absolute;
    width: 400px;
    bottom: 0;
    top: 20px;
    left: 7%;
  }

nav ul {
    float: right;
    margin-right: 150px;
    
  }

  nav ul li {
    display: inline-block;
    line-height: 210px;
    margin: 0 15px;
  }
  nav ul li a {
    font-family: 'Cinzel', bold;
    font-weight: 900;
    position: relative;
    
    padding: 5px 0;
    color: #0ebac7;
    font-size: 30px;
    text-transform: uppercase;
  }
  nav ul li a:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #0ebac7;
    
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s linear;
  }
  nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
  }
  nav ul ul {
    position: absolute;
    top: 60px;
    line-height: 40px !important;
    padding: 20px;
    display: none;
  }
  nav ul li:hover > ul {
    display: block;
  }
  nav ul ul li {
    width: 100px;
    float: none;
    border: 1px solid grey;
    border-radius: 15px;
    display: list-item;
    padding: 10px;
    position: relative;
    line-height: 20px !important;
    background-color: dim gray;
  }

section
{
    background-color: #380f4b;
    height: 500px;
    width: 100%;
    display: inline-block;
    position: relative;
}
h1
{
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #0ebac7;
    font-size: 5em;
    font-family: sans-serif;
    letter-spacing: 0.2em;
    
}
h1 span
{
    display: inline-block;
    animation: animate 1s linear forwards;
}
@keyframes animate
{
    0%
    {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%
    {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);
    }
}
h1 span:nth-child(1)
{
    animation-delay: 1s;
}
h1 span:nth-child(2)
{
    animation-delay: 2s;
}
h1 span:nth-child(3)
{
    animation-delay: 2.5s;
}
h1 span:nth-child(4)
{
    animation-delay: 3s;
}
h1 span:nth-child(5)
{
    animation-delay: 3.5s;
}
h1 span:nth-child(6)
{
    animation-delay: 3.75s;
}
h1 span:nth-child(7)
{
    animation-delay: 4s;
}